In [39]:
import pandas as pd
import numpy as py

In [32]:
df = pd.read_csv("vgsales.csv")

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [34]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [47]:
most_common_pub = df["Publisher"].value_counts().head(1)
most_common_pub

Electronic Arts    1351
Name: Publisher, dtype: int64

In [40]:
most_common_plat = df["Platform"].value_counts().head(1)
most_common_plat

DS    2163
Name: Platform, dtype: int64

In [41]:
most_common_plat = df[["Publisher"]].max
most_common_plat

<bound method NDFrame._add_numeric_operations.<locals>.max of         Publisher
0        Nintendo
1        Nintendo
2        Nintendo
3        Nintendo
4        Nintendo
...           ...
16593       Kemco
16594  Infogrames
16595  Activision
16596    7G//AMES
16597     Wanadoo

[16598 rows x 1 columns]>

In [43]:
most_common_Genre = df["Genre"].value_counts().head(1)
most_common_Genre

Action    3316
Name: Genre, dtype: int64

In [49]:
highest_grossing_games = df[["Name", "Global_Sales"]].sort_values("Global_Sales", ascending=False).head(20)
highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [51]:
NA_Median = df["NA_Sales"].median()
NA_Median

0.08

In [ ]:
with_median = df[df["NA_Sales"] == NA_Median]
with_median_count = len(with_median)
mid_of_median = with_median_count // 2

ten_median_na_sellers = with_median[mid_of_median - 5:mid_of_median + 5]
ten_median_na_seller_names = list(ten_median_na_sellers.Name)